In [23]:
import pandas as pd
df = pd.read_csv('../data/156수민/감자garakFix20250903153031726.csv',encoding = 'cp949')
potato = df.copy()

In [24]:
potato[potato['반입량'].isna()==False]

,거래일자,품목명,반입량,금액,전년 반입량,전년 반입량 증감률(%),전년 금액,전년 금액 증감률(%),평년 반입량,평년 반입량 증감률(%),평년 금액,평년 금액 증감률(%)
101,2025-03-21,감자(수입),6720.0,15120000.0,69600.0,-90.3,102080000.0,-85.2,NaN,0.0,NaN,0.0
133,2025-02-17,감자(수입),11200.0,25944000.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
396,2024-05-30,감자(수입),11540.0,1731000.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
402,2024-05-24,감자(수입),6260.0,8412000.0,11400.0,-45.1,12825000.0,-34.4,NaN,0.0,NaN,0.0
403,2024-05-23,감자(수입),12880.0,17628000.0,11400.0,13.0,11970000.0,47.3,11440.0,12.6,10218000.0,72.5
...,...,...,...,...,...,...,...,...,...,...,...,...
38019,2021-06-12,홍감자,310.0,439000.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
38020,2021-06-11,홍감자,840.0,1298000.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
38021,2021-06-10,홍감자,970.0,1100500.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
38023,2021-06-08,홍감자,530.0,593000.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
38024,2021-06-07,홍감자,222.0,294000.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0

In [25]:
potato[(potato['반입량'].isna()) & (potato['전년 반입량'].notna())]

,거래일자,품목명,반입량,금액,전년 반입량,전년 반입량 증감률(%),전년 금액,전년 금액 증감률(%),평년 반입량,평년 반입량 증감률(%),평년 금액,평년 금액 증감률(%)
399,2024-05-27,감자(수입),NaN,NaN,11600.0,0.0,18560000.0,0.0,NaN,0.0,NaN,0.0
400,2024-05-26,감자(수입),NaN,NaN,11600.0,0.0,20880000.0,0.0,NaN,0.0,NaN,0.0
401,2024-05-25,감자(수입),NaN,NaN,11600.0,0.0,20300000.0,0.0,NaN,0.0,NaN,0.0
406,2024-05-20,감자(수입),NaN,NaN,11400.0,0.0,14250000.0,0.0,NaN,0.0,NaN,0.0
407,2024-05-19,감자(수입),NaN,NaN,11400.0,0.0,14820000.0,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
37626,2022-07-10,홍감자,NaN,NaN,1100.0,0.0,952000.0,0.0,NaN,0.0,NaN,0.0
37633,2022-07-03,홍감자,NaN,NaN,840.0,0.0,439000.0,0.0,NaN,0.0,NaN,0.0
37640,2022-06-26,홍감자,NaN,NaN,1480.0,0.0,1457000.0,0.0,NaN,0.0,NaN,0.0
37647,2022-06-19,홍감자,NaN,NaN,5340.0,0.0,4654000.0,0.0,NaN,0.0,NaN,0.0
37654,2022-06-12,홍감자,NaN,NaN,310.0,0.0,439000.0,0.0,NaN,0.0,NaN,0.0

In [31]:
potato = potato[['거래일자','품목명','반입량','금액','전년 반입량','전년 금액']]
potato

             거래일자     품목명  반입량  금액  전년 반입량  전년 금액
0      2025-06-30  감자(수입)  NaN NaN     NaN    NaN
1      2025-06-29  감자(수입)  NaN NaN     NaN    NaN
2      2025-06-28  감자(수입)  NaN NaN     NaN    NaN
3      2025-06-27  감자(수입)  NaN NaN     NaN    NaN
4      2025-06-26  감자(수입)  NaN NaN     NaN    NaN
...           ...     ...  ...  ..     ...    ...
40189  2015-07-04     홍감자  NaN NaN     NaN    NaN
40190  2015-07-03     홍감자  NaN NaN     NaN    NaN
40191  2015-07-02     홍감자  NaN NaN     NaN    NaN
40192  2015-07-01     홍감자  NaN NaN     NaN    NaN
40193  2015-06-30     홍감자  NaN NaN     NaN    NaN

[40194 rows x 6 columns]

In [37]:
# 날짜/품목 컬럼 추론
date_col_candidates = [c for c in potato.columns if "거래일자" in c or "date" in c.lower()]
if len(date_col_candidates) == 0:
    raise ValueError("`거래일자`(또는 date 유사) 컬럼을 찾을 수 없습니다.")
date_col = date_col_candidates[0]

item_col_candidates = [c for c in potato.columns if ("품목" in c) or ("품종" in c) or ("품목명" in c)]
item_col = item_col_candidates[0] if len(item_col_candidates) else "품목명"
if item_col not in df.columns:
    potato[item_col] = "미상"

# 날짜 파싱
potato[date_col] = pd.to_datetime(potato[date_col], errors="coerce")

def to_numeric_clean(s: pd.Series) -> pd.Series:
    return pd.to_numeric(
        s.astype(str)
         .str.replace(",", "", regex=False)
         .str.replace(" ", "", regex=False)
         .str.replace("%", "", regex=False)
         .str.replace("\u2212", "-", regex=False),  # 유니코드 음수 기호
        errors="coerce"
    )

num_candidates = [
    "반입량","금액",
    "전년 반입량",
    "전년 금액",
]
for c in num_candidates:
    if c in potato.columns:
        potato[c] = to_numeric_clean(potato[c])

# 파생: 연/월/요일/일요일/주차
potato["연도"] = potato[date_col].dt.year
potato["월"] = potato[date_col].dt.month
potato["weekday"] = potato[date_col].dt.weekday   # 0=월, 6=일
potato["is_sunday"] = (potato["weekday"] == 6)
potato["주차"] = potato[date_col].dt.isocalendar().week.astype("Int64")
potato

,거래일자,품목명,반입량,금액,전년 반입량,전년 금액,연도,월,weekday,is_sunday,주차
0,2025-06-30,감자(수입),NaN,NaN,NaN,NaN,2025,6,0,False,27
1,2025-06-29,감자(수입),NaN,NaN,NaN,NaN,2025,6,6,True,26
2,2025-06-28,감자(수입),NaN,NaN,NaN,NaN,2025,6,5,False,26
3,2025-06-27,감자(수입),NaN,NaN,NaN,NaN,2025,6,4,False,26
4,2025-06-26,감자(수입),NaN,NaN,NaN,NaN,2025,6,3,False,26
...,...,...,...,...,...,...,...,...,...,...,...
40189,2015-07-04,홍감자,NaN,NaN,NaN,NaN,2015,7,5,False,27
40190,2015-07-03,홍감자,NaN,NaN,NaN,NaN,2015,7,4,False,27
40191,2015-07-02,홍감자,NaN,NaN,NaN,NaN,2015,7,3,False,27
40192,2015-07-01,홍감자,NaN,NaN,NaN,NaN,2015,7,2,False,27
40193,2015-06-30,홍감자,NaN,NaN,NaN,NaN,2015,6,1,False,27

In [40]:
if potato['반입량'].isna().any():
    display(potato[potato['반입량'].isna()])

,거래일자,품목명,반입량,금액,전년 반입량,전년 금액,연도,월,weekday,is_sunday,주차
0,2025-06-30,감자(수입),NaN,NaN,NaN,NaN,2025,6,0,False,27
1,2025-06-29,감자(수입),NaN,NaN,NaN,NaN,2025,6,6,True,26
2,2025-06-28,감자(수입),NaN,NaN,NaN,NaN,2025,6,5,False,26
3,2025-06-27,감자(수입),NaN,NaN,NaN,NaN,2025,6,4,False,26
4,2025-06-26,감자(수입),NaN,NaN,NaN,NaN,2025,6,3,False,26
...,...,...,...,...,...,...,...,...,...,...,...
40189,2015-07-04,홍감자,NaN,NaN,NaN,NaN,2015,7,5,False,27
40190,2015-07-03,홍감자,NaN,NaN,NaN,NaN,2015,7,4,False,27
40191,2015-07-02,홍감자,NaN,NaN,NaN,NaN,2015,7,3,False,27
40192,2015-07-01,홍감자,NaN,NaN,NaN,NaN,2015,7,2,False,27
40193,2015-06-30,홍감자,NaN,NaN,NaN,NaN,2015,6,1,False,27

In [41]:
if potato['금액'].isna().any():
    display(potato[potato['금액'].isna()])

,거래일자,품목명,반입량,금액,전년 반입량,전년 금액,연도,월,weekday,is_sunday,주차
0,2025-06-30,감자(수입),NaN,NaN,NaN,NaN,2025,6,0,False,27
1,2025-06-29,감자(수입),NaN,NaN,NaN,NaN,2025,6,6,True,26
2,2025-06-28,감자(수입),NaN,NaN,NaN,NaN,2025,6,5,False,26
3,2025-06-27,감자(수입),NaN,NaN,NaN,NaN,2025,6,4,False,26
4,2025-06-26,감자(수입),NaN,NaN,NaN,NaN,2025,6,3,False,26
...,...,...,...,...,...,...,...,...,...,...,...
40189,2015-07-04,홍감자,NaN,NaN,NaN,NaN,2015,7,5,False,27
40190,2015-07-03,홍감자,NaN,NaN,NaN,NaN,2015,7,4,False,27
40191,2015-07-02,홍감자,NaN,NaN,NaN,NaN,2015,7,3,False,27
40192,2015-07-01,홍감자,NaN,NaN,NaN,NaN,2015,7,2,False,27
40193,2015-06-30,홍감자,NaN,NaN,NaN,NaN,2015,6,1,False,27

In [45]:
potato[(potato['금액'].isna()) != (potato['반입량'].isna())]

,거래일자,품목명,반입량,금액,전년 반입량,전년 금액,연도,월,weekday,is_sunday,주차
2452,2018-10-13,감자(수입),1680.0,NaN,NaN,NaN,2018,10,5,False,41
9079,2020-08-24,기타,NaN,-136500.0,39190.0,26493000.0,2020,8,0,False,35
11860,2023-01-14,대지,NaN,-592000.0,50380.0,91406500.0,2023,1,5,False,2
12899,2020-03-11,대지,NaN,-490000.0,4620.0,8144000.0,2020,3,2,False,11
12985,2019-12-16,대지,NaN,-155000.0,NaN,NaN,2019,12,0,False,51
13582,2018-04-28,대지,NaN,-92000.0,NaN,NaN,2018,4,5,False,17
13920,2017-05-25,대지,NaN,-118500.0,12400.0,11305000.0,2017,5,3,False,21
18297,2025-06-03,두백,NaN,-10000.0,77229.0,78404500.0,2025,6,1,False,23
23524,2021-02-11,수미,NaN,-40000.0,315030.0,291484000.0,2021,2,3,False,6
29595,2024-07-02,조풍,NaN,-1000000.0,NaN,NaN,2024,7,1,False,27

In [56]:
import pandas as pd
from pandas.api.types import is_datetime64_any_dtype as is_datetime

potato_copy = potato.copy()

# 0) 날짜형 보장
if not is_datetime(potato_copy['거래일자']):
    potato_copy['거래일자'] = pd.to_datetime(potato_copy['거래일자'], errors='coerce')

# (옵션) 음수 금액은 결측으로 처리
potato_copy.loc[potato_copy['금액'] < 0, '금액'] = pd.NA

# 1) 전년도 후보 테이블 생성 (+1년 이동해서 "현재행 날짜"와 맞춤)
prev = potato_copy[['거래일자', '품목명', '반입량', '금액']].copy()
prev['거래일자'] = prev['거래일자'] + pd.DateOffset(years=1)
prev = prev.rename(columns={'반입량': '전년도_반입량_from_row', '금액': '전년도_금액_from_row'})

# 1-추가) 동일 키(거래일자+품목명) 중복 시 처리 (여기선 '마지막 값' 선택; 필요시 'first'로 변경)
prev = (
    prev.sort_values(['거래일자', '품목명'])
        .groupby(['거래일자', '품목명'], as_index=False)
        .last()
)

# 2) 병합
df = potato_copy.merge(prev, on=['거래일자', '품목명'], how='left', validate='m:1')

# 3) 채우기 (반입량/금액 각각 NaN인 곳만 전년도 행 값으로 보강)
before_nan_cnt_qty  = df['반입량'].isna().sum()
before_nan_cnt_amt  = df['금액'].isna().sum()

mask_any_nan = df['반입량'].isna() | df['금액'].isna()
filled_qty_mask = df['반입량'].isna() & df['전년도_반입량_from_row'].notna()
filled_amt_mask = df['금액'].isna() & df['전년도_금액_from_row'].notna()

df.loc[filled_qty_mask, '반입량'] = df.loc[filled_qty_mask, '전년도_반입량_from_row']
df.loc[filled_amt_mask, '금액']   = df.loc[filled_amt_mask, '전년도_금액_from_row']

after_nan_cnt_qty = df['반입량'].isna().sum()
after_nan_cnt_amt = df['금액'].isna().sum()

# 4) 채워진 건수/샘플 확인용
filled_rows_idx = df.index[filled_qty_mask | filled_amt_mask]
filled_count = len(filled_rows_idx)

print(f"[요약] 반입량 NaN: {before_nan_cnt_qty} → {after_nan_cnt_qty} (채움 {before_nan_cnt_qty - after_nan_cnt_qty})")
print(f"[요약] 금액   NaN: {before_nan_cnt_amt} → {after_nan_cnt_amt} (채움 {before_nan_cnt_amt - after_nan_cnt_amt})")
print(f"[요약] 전년도 행으로 보강된 총 행 수: {filled_count}")

# 5) 보조 컬럼 정리 (원하면 유지 가능)
df = df.drop(columns=['전년도_반입량_from_row', '전년도_금액_from_row'])

[요약] 반입량 NaN: 29435 → 26381 (채움 3054)
[요약] 금액   NaN: 29436 → 26383 (채움 3053)
[요약] 전년도 행으로 보강된 총 행 수: 3054

In [58]:
df.loc[filled_rows_idx, ['거래일자','품목명','반입량','금액']]

            거래일자     품목명      반입량          금액
31    2025-05-30  감자(수입)  11540.0   1731000.0
37    2025-05-24  감자(수입)   6260.0   8412000.0
38    2025-05-23  감자(수입)  12880.0  17628000.0
39    2025-05-22  감자(수입)  25560.0   2302000.0
40    2025-05-21  감자(수입)  46400.0   7830000.0
...          ...     ...      ...         ...
37626 2022-07-10     홍감자   1100.0    952000.0
37633 2022-07-03     홍감자    840.0    439000.0
37640 2022-06-26     홍감자   1480.0   1457000.0
37647 2022-06-19     홍감자   5340.0   4654000.0
37654 2022-06-12     홍감자    310.0    439000.0

[3054 rows x 4 columns]

In [60]:
potato[potato['거래일자']=='2025-05-30']

,거래일자,품목명,반입량,금액,전년 반입량,전년 금액,연도,월,weekday,is_sunday,주차
31,2025-05-30,감자(수입),NaN,NaN,NaN,NaN,2025,5,4,False,22
3685,2025-05-30,감자(일반),NaN,NaN,NaN,NaN,2025,5,4,False,22
7339,2025-05-30,기타,240410.0,346248500.0,246330.0,309580000.0,2025,5,4,False,22
10993,2025-05-30,대지,NaN,NaN,NaN,NaN,2025,5,4,False,22
14647,2025-05-30,돼지감자,NaN,NaN,NaN,NaN,2025,5,4,False,22
18301,2025-05-30,두백,6500.0,6002000.0,77960.0,119337500.0,2025,5,4,False,22
21955,2025-05-30,수미,157391.0,210447000.0,171630.0,228165500.0,2025,5,4,False,22
25609,2025-05-30,자주감자,130.0,226000.0,NaN,NaN,2025,5,4,False,22
29263,2025-05-30,조풍,18440.0,27373500.0,8900.0,13314000.0,2025,5,4,False,22
32917,2025-05-30,추백감자,NaN,NaN,NaN,NaN,2025,5,4,False,22
36571,2025-05-30,홍감자,3150.0,4826000.0,2340.0,4721500.0,2025,5,4,False,22

In [63]:
df.loc[filled_rows_idx, ['품목명']].value_counts()

품목명
기타        597
대지        511
수미        507
조풍        401
감자(수입)    357
두백        273
홍감자       197
추백감자      159
돼지감자       31
자주감자       15
감자(일반)      6
Name: count, dtype: int64

In [64]:
potato[potato['품목명']=='수미']

,거래일자,품목명,반입량,금액,전년 반입량,전년 금액,연도,월,weekday,is_sunday,주차
21924,2025-06-30,수미,315258.0,275224000.0,NaN,NaN,2025,6,0,False,27
21925,2025-06-29,수미,NaN,NaN,105827.0,100438500.0,2025,6,6,True,26
21926,2025-06-28,수미,233612.0,247208500.0,216379.0,207633000.0,2025,6,5,False,26
21927,2025-06-27,수미,141425.0,153102000.0,171170.0,181274500.0,2025,6,4,False,26
21928,2025-06-26,수미,253610.0,284390500.0,144972.0,153836500.0,2025,6,3,False,26
...,...,...,...,...,...,...,...,...,...,...,...
25573,2015-07-04,수미,392764.0,296151000.0,164826.0,104491000.0,2015,7,5,False,27
25574,2015-07-03,수미,308938.0,236825000.0,297436.0,181855500.0,2015,7,4,False,27
25575,2015-07-02,수미,356956.0,262647500.0,333948.0,205149500.0,2015,7,3,False,27
25576,2015-07-01,수미,425543.0,297138500.0,335213.0,207054700.0,2015,7,2,False,27
25577,2015-06-30,수미,648768.0,516214000.0,334385.0,209339000.0,2015,6,1,False,27

In [67]:
df[df['품목명']=='수미']
df[df['거래일자']=='2024-06-29']

,거래일자,품목명,반입량,금액,전년 반입량,전년 금액,연도,월,weekday,is_sunday,주차
366,2024-06-29,감자(수입),NaN,NaN,NaN,NaN,2024,6,5,False,26
4020,2024-06-29,감자(일반),NaN,NaN,NaN,NaN,2024,6,5,False,26
7674,2024-06-29,기타,221842.0,219965000.0,171915.0,201114500.0,2024,6,5,False,26
11328,2024-06-29,대지,13000.0,12400000.0,NaN,NaN,2024,6,5,False,26
14982,2024-06-29,돼지감자,NaN,NaN,NaN,NaN,2024,6,5,False,26
18636,2024-06-29,두백,18990.0,18462000.0,15640.0,19805500.0,2024,6,5,False,26
22290,2024-06-29,수미,105827.0,100438500.0,188328.0,197592700.0,2024,6,5,False,26
25944,2024-06-29,자주감자,1060.0,1269000.0,NaN,NaN,2024,6,5,False,26
29598,2024-06-29,조풍,NaN,NaN,NaN,NaN,2024,6,5,False,26
33252,2024-06-29,추백감자,NaN,NaN,NaN,NaN,2024,6,5,False,26
36906,2024-06-29,홍감자,28440.0,18293500.0,4095.0,5110500.0,2024,6,5,False,26