In [1]:
import pandas as pd
df = pd.read_csv('../data/156수민/감자garakFix20250903153031726.csv',encoding = 'cp949')
potato = df.copy()

In [2]:
potato[potato['반입량'].isna()==False]

,거래일자,품목명,반입량,금액,전년 반입량,전년 반입량 증감률(%),전년 금액,전년 금액 증감률(%),평년 반입량,평년 반입량 증감률(%),평년 금액,평년 금액 증감률(%)
101,2025-03-21,감자(수입),6720.0,15120000.0,69600.0,-90.3,102080000.0,-85.2,NaN,0.0,NaN,0.0
133,2025-02-17,감자(수입),11200.0,25944000.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
396,2024-05-30,감자(수입),11540.0,1731000.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
402,2024-05-24,감자(수입),6260.0,8412000.0,11400.0,-45.1,12825000.0,-34.4,NaN,0.0,NaN,0.0
403,2024-05-23,감자(수입),12880.0,17628000.0,11400.0,13.0,11970000.0,47.3,11440.0,12.6,10218000.0,72.5
...,...,...,...,...,...,...,...,...,...,...,...,...
38019,2021-06-12,홍감자,310.0,439000.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
38020,2021-06-11,홍감자,840.0,1298000.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
38021,2021-06-10,홍감자,970.0,1100500.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
38023,2021-06-08,홍감자,530.0,593000.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
38024,2021-06-07,홍감자,222.0,294000.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0

In [3]:
potato[(potato['반입량'].isna()) & (potato['전년 반입량'].notna())]

,거래일자,품목명,반입량,금액,전년 반입량,전년 반입량 증감률(%),전년 금액,전년 금액 증감률(%),평년 반입량,평년 반입량 증감률(%),평년 금액,평년 금액 증감률(%)
399,2024-05-27,감자(수입),NaN,NaN,11600.0,0.0,18560000.0,0.0,NaN,0.0,NaN,0.0
400,2024-05-26,감자(수입),NaN,NaN,11600.0,0.0,20880000.0,0.0,NaN,0.0,NaN,0.0
401,2024-05-25,감자(수입),NaN,NaN,11600.0,0.0,20300000.0,0.0,NaN,0.0,NaN,0.0
406,2024-05-20,감자(수입),NaN,NaN,11400.0,0.0,14250000.0,0.0,NaN,0.0,NaN,0.0
407,2024-05-19,감자(수입),NaN,NaN,11400.0,0.0,14820000.0,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
37626,2022-07-10,홍감자,NaN,NaN,1100.0,0.0,952000.0,0.0,NaN,0.0,NaN,0.0
37633,2022-07-03,홍감자,NaN,NaN,840.0,0.0,439000.0,0.0,NaN,0.0,NaN,0.0
37640,2022-06-26,홍감자,NaN,NaN,1480.0,0.0,1457000.0,0.0,NaN,0.0,NaN,0.0
37647,2022-06-19,홍감자,NaN,NaN,5340.0,0.0,4654000.0,0.0,NaN,0.0,NaN,0.0
37654,2022-06-12,홍감자,NaN,NaN,310.0,0.0,439000.0,0.0,NaN,0.0,NaN,0.0

In [4]:
potato = potato[['거래일자','품목명','반입량','금액','전년 반입량','전년 금액']]
potato

             거래일자     품목명  반입량  금액  전년 반입량  전년 금액
0      2025-06-30  감자(수입)  NaN NaN     NaN    NaN
1      2025-06-29  감자(수입)  NaN NaN     NaN    NaN
2      2025-06-28  감자(수입)  NaN NaN     NaN    NaN
3      2025-06-27  감자(수입)  NaN NaN     NaN    NaN
4      2025-06-26  감자(수입)  NaN NaN     NaN    NaN
...           ...     ...  ...  ..     ...    ...
40189  2015-07-04     홍감자  NaN NaN     NaN    NaN
40190  2015-07-03     홍감자  NaN NaN     NaN    NaN
40191  2015-07-02     홍감자  NaN NaN     NaN    NaN
40192  2015-07-01     홍감자  NaN NaN     NaN    NaN
40193  2015-06-30     홍감자  NaN NaN     NaN    NaN

[40194 rows x 6 columns]

In [5]:
if potato['반입량'].isna().any():
    display(potato[potato['반입량'].isna()])

             거래일자     품목명  반입량  금액  전년 반입량  전년 금액
0      2025-06-30  감자(수입)  NaN NaN     NaN    NaN
1      2025-06-29  감자(수입)  NaN NaN     NaN    NaN
2      2025-06-28  감자(수입)  NaN NaN     NaN    NaN
3      2025-06-27  감자(수입)  NaN NaN     NaN    NaN
4      2025-06-26  감자(수입)  NaN NaN     NaN    NaN
...           ...     ...  ...  ..     ...    ...
40189  2015-07-04     홍감자  NaN NaN     NaN    NaN
40190  2015-07-03     홍감자  NaN NaN     NaN    NaN
40191  2015-07-02     홍감자  NaN NaN     NaN    NaN
40192  2015-07-01     홍감자  NaN NaN     NaN    NaN
40193  2015-06-30     홍감자  NaN NaN     NaN    NaN

[29435 rows x 6 columns]

In [6]:
if potato['금액'].isna().any():
    display(potato[potato['금액'].isna()])

             거래일자     품목명  반입량  금액  전년 반입량  전년 금액
0      2025-06-30  감자(수입)  NaN NaN     NaN    NaN
1      2025-06-29  감자(수입)  NaN NaN     NaN    NaN
2      2025-06-28  감자(수입)  NaN NaN     NaN    NaN
3      2025-06-27  감자(수입)  NaN NaN     NaN    NaN
4      2025-06-26  감자(수입)  NaN NaN     NaN    NaN
...           ...     ...  ...  ..     ...    ...
40189  2015-07-04     홍감자  NaN NaN     NaN    NaN
40190  2015-07-03     홍감자  NaN NaN     NaN    NaN
40191  2015-07-02     홍감자  NaN NaN     NaN    NaN
40192  2015-07-01     홍감자  NaN NaN     NaN    NaN
40193  2015-06-30     홍감자  NaN NaN     NaN    NaN

[29427 rows x 6 columns]

In [7]:
potato[(potato['금액'].isna()) != (potato['반입량'].isna())]

             거래일자     품목명     반입량         금액    전년 반입량        전년 금액
2452   2018-10-13  감자(수입)  1680.0        NaN       NaN          NaN
9079   2020-08-24      기타     NaN  -136500.0   39190.0   26493000.0
11860  2023-01-14      대지     NaN  -592000.0   50380.0   91406500.0
12899  2020-03-11      대지     NaN  -490000.0    4620.0    8144000.0
12985  2019-12-16      대지     NaN  -155000.0       NaN          NaN
13582  2018-04-28      대지     NaN   -92000.0       NaN          NaN
13920  2017-05-25      대지     NaN  -118500.0   12400.0   11305000.0
18297  2025-06-03      두백     NaN   -10000.0   77229.0   78404500.0
23524  2021-02-11      수미     NaN   -40000.0  315030.0  291484000.0
29595  2024-07-02      조풍     NaN -1000000.0       NaN          NaN

In [20]:
from pathlib import Path
import numpy as np
import pandas as pd
from pandas.api.types import is_datetime64_any_dtype as is_datetime

REQUIRED_COLS = {'거래일자', '품목명', '반입량', '금액', '전년 반입량', '전년 금액'}

def to_numeric_clean(s: pd.Series) -> pd.Series:
    if pd.api.types.is_numeric_dtype(s):
        return s
    return pd.to_numeric(
        s.astype(str)
         .str.replace(",", "", regex=False)
         .str.replace(" ", "", regex=False)
         .str.replace("%", "", regex=False)
         .str.replace("\u2212", "-", regex=False),
        errors="coerce"
    )

def preprocess_for_fill(df: pd.DataFrame, date_col: str|None=None, item_col: str|None=None,
                        add_calendar_cols: bool=True, coerce_numeric: bool=True) -> pd.DataFrame:
    out = df.copy()

    if date_col is None:
        cands = [c for c in out.columns if ("거래일자" in str(c)) or ("date" in str(c).lower())]
        if not cands:
            raise ValueError("`거래일자`(또는 date 유사) 컬럼을 찾을 수 없습니다. date_col을 명시하세요.")
        date_col = cands[0]
    if date_col != '거래일자' and date_col in out.columns:
        out = out.rename(columns={date_col: '거래일자'})
    elif '거래일자' not in out.columns:
        raise ValueError(f"날짜 컬럼 '{date_col}'(또는 '거래일자')을 찾을 수 없습니다.")

    if item_col is None:
        icands = [c for c in out.columns if ("품목" in str(c)) or ("품종" in str(c)) or ("품목명" in str(c))]
        item_col = icands[0] if icands else '품목명'
    if item_col != '품목명' and item_col in out.columns:
        out = out.rename(columns={item_col: '품목명'})
    if '품목명' not in out.columns:
        out['품목명'] = "미상"

    if not is_datetime(out['거래일자']):
        out['거래일자'] = pd.to_datetime(out['거래일자'], errors='coerce')

    if coerce_numeric:
        for c in ['반입량','금액','전년 반입량','전년 금액']:
            if c in out.columns:
                out[c] = to_numeric_clean(out[c])

    if add_calendar_cols and '거래일자' in out.columns:
        out['연도'] = out['거래일자'].dt.year
        out['월'] = out['거래일자'].dt.month
        out['weekday'] = out['거래일자'].dt.weekday
        out['is_sunday'] = (out['weekday'] == 6)
        out['주차'] = out['거래일자'].dt.isocalendar().week.astype('Int64')

    return out

def _aggregate_keys_for_next(src: pd.DataFrame, agg: str) -> pd.DataFrame:
    if agg == 'mean':
        return (src.groupby(['거래일자','품목명'], as_index=False)
                  .agg({'다음해_전년반입량':'mean','다음해_전년금액':'mean'}))
    sorter = src.sort_values(['거래일자','품목명'])
    if agg == 'first':
        return sorter.groupby(['거래일자','품목명'], as_index=False).first()
    return sorter.groupby(['거래일자','품목명'], as_index=False).last()

def read_csv_smart(path: str) -> pd.DataFrame:
    for enc in ['utf-8-sig','cp949','euc-kr']:
        try:
            return pd.read_csv(path, encoding=enc)
        except Exception:
            pass
    raise RuntimeError(f"CSV 로드 실패: {path}")

def fill_from_nextyear_seq(df: pd.DataFrame, year_start: int=2024, year_end: int=2015,
                           agg: str='last', fix_negative_amount: bool=True, verbose: bool=True,
                           date_col: str|None=None, item_col: str|None=None,
                           add_calendar_cols: bool=True, coerce_numeric: bool=True):
    out = preprocess_for_fill(df, date_col, item_col, add_calendar_cols, coerce_numeric)

    missing = REQUIRED_COLS - set(out.columns)
    if missing:
        raise ValueError(f"다음 컬럼이 없습니다: {sorted(missing)}")

    if fix_negative_amount:
        out.loc[out['금액'] < 0, '금액'] = pd.NA

    stats_rows, log_rows = [], []
    for y in range(year_start, year_end - 1, -1):
        ymask = out['거래일자'].dt.year == y
        if not ymask.any():
            if verbose: print(f"[{y}] 대상 행 없음")
            continue

        src = out[['거래일자','품목명','전년 반입량','전년 금액']].copy()
        src['거래일자'] = src['거래일자'] - pd.DateOffset(years=1)
        src = src.rename(columns={'전년 반입량':'다음해_전년반입량','전년 금액':'다음해_전년금액'})
        src = src[src['거래일자'].dt.year == y]
        src = _aggregate_keys_for_next(src, agg)

        cur = out[ymask].merge(src, on=['거래일자','품목명'], how='left', validate='m:1')
        cur['반입량_before'] = cur['반입량']
        cur['금액_before'] = cur['금액']

        b_qty = cur['반입량'].isna().sum()
        b_amt = cur['금액'].isna().sum()

        m_qty = cur['반입량'].isna() & cur['다음해_전년반입량'].notna()
        m_amt = cur['금액'].isna()   & cur['다음해_전년금액'].notna()

        if m_qty.any():
            tmp = cur.loc[m_qty, ['거래일자','품목명','반입량_before','다음해_전년반입량']].copy()
            tmp['연도'] = y; tmp['필드'] = '반입량'
            tmp['채우기_이후값'] = tmp['다음해_전년반입량']
            tmp['공여자_다음해_원래거래일자'] = tmp['거래일자'] + pd.DateOffset(years=1)
            tmp = tmp.rename(columns={'반입량_before':'채우기_이전값','다음해_전년반입량':'공여자_전년도값'})
            log_rows.append(tmp)

        if m_amt.any():
            tmp = cur.loc[m_amt, ['거래일자','품목명','금액_before','다음해_전년금액']].copy()
            tmp['연도'] = y; tmp['필드'] = '금액'
            tmp['채우기_이후값'] = tmp['다음해_전년금액']
            tmp['공여자_다음해_원래거래일자'] = tmp['거래일자'] + pd.DateOffset(years=1)
            tmp = tmp.rename(columns={'금액_before':'채우기_이전값','다음해_전년금액':'공여자_전년도값'})
            log_rows.append(tmp)

        cur.loc[m_qty, '반입량'] = cur.loc[m_qty, '다음해_전년반입량']
        cur.loc[m_amt, '금액']   = cur.loc[m_amt, '다음해_전년금액']

        a_qty = cur['반입량'].isna().sum()
        a_amt = cur['금액'].isna().sum()
        out.loc[ymask, ['반입량','금액']] = cur[['반입량','금액']].values

        filled_cnt = int((m_qty | m_amt).sum())
        if verbose:
            print(f"[{y}] 반입량 NaN {b_qty}→{a_qty} (채움 {b_qty - a_qty}),  "
                  f"금액 NaN {b_amt}→{a_amt} (채움 {b_amt - a_amt}),  보강 행수 {filled_cnt}")

        stats_rows.append({'year': y, 'filled_rows': filled_cnt,
                           'qty_before': int(b_qty), 'qty_after': int(a_qty),
                           'amt_before': int(b_amt), 'amt_after': int(a_amt)})

    stats_df = pd.DataFrame(stats_rows, columns=['year','filled_rows','qty_before','qty_after','amt_before','amt_after'])

    if log_rows:
        fill_log_df = (pd.concat(log_rows, ignore_index=True)
                         [['연도','거래일자','품목명','필드','채우기_이전값','채우기_이후값','공여자_전년도값','공여자_다음해_원래거래일자']])
    else:
        fill_log_df = pd.DataFrame(columns=['연도','거래일자','품목명','필드','채우기_이전값','채우기_이후값','공여자_전년도값','공여자_다음해_원래거래일자'])

    return out, stats_df, fill_log_df

def weekly_avg_unit_price(
    df: pd.DataFrame,
    by_item: bool = True,                 # 품목별 집계 여부
    use_existing_week_cols: bool = True,  # df의 '연도','주차'를 사용할지
    drop_negative_amount: bool = True,    # 음수 금액 제외
    return_weighted: bool = False         # 물량가중 평균단가(주차 총금액/총반입량) 포함 여부
) -> pd.DataFrame:
    x = df.copy()

    # 날짜/결측 처리
    if '거래일자' not in x.columns:
        raise ValueError("'거래일자' 컬럼 필요")
    if not is_datetime(x['거래일자']):
        x['거래일자'] = pd.to_datetime(x['거래일자'], errors='coerce')
    if drop_negative_amount and '금액' in x.columns:
        x = x[~(x['금액'] < 0)]

    # 주차 키
    if use_existing_week_cols and {'연도','주차'} <= set(x.columns):
        x['_year'] = x['연도']
        x['_week'] = x['주차'].astype('Int64')
    else:
        iso = x['거래일자'].dt.isocalendar()
        x['_year'] = iso.year.astype(int)
        x['_week'] = iso.week.astype(int)

    # (품목, 일자) 합산 → 일별 금액/반입량
    group_day = ['거래일자']
    if by_item:
        group_day.insert(0, '품목명')
    day = (x.groupby(group_day, as_index=False)
             .agg(금액=('금액','sum'), 반입량=('반입량','sum')))

    # 안전한 일별 단가 (반입량>0 & 금액 존재)
    day = day[(day['반입량'].notna()) & (day['반입량'] > 0) & (day['금액'].notna())]
    day['일별단가'] = day['금액'] / day['반입량']

    # 일자 → 주차 키 부여
    if use_existing_week_cols and {'연도','주차'} <= set(x.columns):
        key_cols = ['거래일자','_year','_week'] if not by_item else ['거래일자','품목명','_year','_week']
        day = day.merge(x[key_cols].drop_duplicates(),
                        on=(['거래일자','품목명'] if by_item else ['거래일자']),
                        how='left')
    else:
        iso_day = day['거래일자'].dt.isocalendar()
        day['_year'] = iso_day.year.astype(int)
        day['_week'] = iso_day.week.astype(int)

    # 주차 집계
    group_week = ['_year','_week'] if not by_item else ['품목명','_year','_week']
    weekly = (day.groupby(group_week, as_index=False)
                .agg(
                    주차_일수=('거래일자','nunique'),
                    주간_평균단가=('일별단가','mean'),   # ← 이것만 남김
                    금액_합=('금액','sum'),
                    반입량_합=('반입량','sum')
                ))

    # (옵션) 물량가중 평균단가
    if return_weighted:
        weekly['주간_물량가중_단가'] = weekly['금액_합'] / weekly['반입량_합']

    # 마무리
    weekly = weekly.rename(columns={'_year':'연도','_week':'주차'})
    order_cols = ['연도','주차'] if not by_item else ['품목명','연도','주차']

    out_cols = order_cols + ['주차_일수','주간_평균단가']
    if return_weighted:
        out_cols += ['주간_물량가중_단가']
    # 참고용 합계가 필요 없으면 다음 두 줄 주석 해제로 제거 가능
    # weekly = weekly.drop(columns=['금액_합','반입량_합'])
    out_cols += ['금액_합','반입량_합']  # 합계도 보고 싶으면 유지

    return weekly[out_cols].sort_values(order_cols).reset_index(drop=True)

def run_fill_pipeline(path_in: str, path_out: str, enc_out: str="utf-8-sig",
                      year_start: int=2024, year_end: int=2015, agg: str="last",
                      fix_negative_amount: bool=True, save_weekly: bool=True, verbose: bool=True):
    pin, pout = Path(path_in), Path(path_out)
    pout.parent.mkdir(parents=True, exist_ok=True)

    df_in = read_csv_smart(str(pin))

    df_filled, yearly_stats, fill_log = fill_from_nextyear_seq(
        df_in, year_start=year_start, year_end=year_end,
        agg=agg, fix_negative_amount=fix_negative_amount, verbose=verbose
    )

    df_filled.to_csv(pout, index=False, encoding=enc_out)
    yearly_stats.to_csv(pout.with_name(pout.stem + "_stats.csv"), index=False, encoding=enc_out)
    fill_log.to_csv(pout.with_name(pout.stem + "_filllog.csv"), index=False, encoding=enc_out)

    weekly_item = weekly_all = None
    if save_weekly:
        weekly_item = weekly_avg_unit_price(df_filled, by_item=True,  use_existing_week_cols=True)
        weekly_all  = weekly_avg_unit_price(df_filled, by_item=False, use_existing_week_cols=True)
        weekly_item.to_csv(pout.with_name(pout.stem + "_weekly_item.csv"), index=False, encoding=enc_out)
        weekly_all.to_csv(pout.with_name(pout.stem + "_weekly_all.csv"), index=False, encoding=enc_out)

    print("[저장 완료]")
    print(" -", pout)
    print(" -", pout.with_name(pout.stem + "_stats.csv"))
    print(" -", pout.with_name(pout.stem + "_filllog.csv"))
    if save_weekly:
        print(" -", pout.with_name(pout.stem + "_weekly_item.csv"))
        print(" -", pout.with_name(pout.stem + "_weekly_all.csv"))

    return df_filled, yearly_stats, fill_log, weekly_item, weekly_all

In [21]:
# 입력/출력 경로만 수정해서 실행
PATH_IN  = r"../data/156수민/감자garakFix20250903153031726.csv"
PATH_OUT = r"../data/전처리데이터/potato_filled.csv"
ENC_OUT  = "utf-8-sig"  # 엑셀에서 글자 깨지면 "cp949"

df_filled, yearly_stats, fill_log, weekly_item, weekly_all = run_fill_pipeline(
    PATH_IN, PATH_OUT, ENC_OUT,
    year_start=2024, year_end=2015, agg="last",
    fix_negative_amount=True, save_weekly=True, verbose=True
)

display(yearly_stats.head())
display(fill_log.head(30))
if weekly_item is not None:
    display(weekly_item.head())
    display(weekly_all.head())

[2024] 반입량 NaN 2719→2719 (채움 0),  금액 NaN 2719→2719 (채움 0),  보강 행수 0
[2023] 반입량 NaN 2611→2611 (채움 0),  금액 NaN 2611→2610 (채움 1),  보강 행수 1
[2022] 반입량 NaN 2689→2689 (채움 0),  금액 NaN 2689→2689 (채움 0),  보강 행수 0
[2021] 반입량 NaN 2760→2760 (채움 0),  금액 NaN 2760→2759 (채움 1),  보강 행수 1
[2020] 반입량 NaN 3029→3029 (채움 0),  금액 NaN 3029→3027 (채움 2),  보강 행수 2
[2019] 반입량 NaN 3009→3009 (채움 0),  금액 NaN 3009→3008 (채움 1),  보강 행수 1
[2018] 반입량 NaN 3115→3115 (채움 0),  금액 NaN 3116→3115 (채움 1),  보강 행수 1
[2017] 반입량 NaN 3204→3204 (채움 0),  금액 NaN 3204→3203 (채움 1),  보강 행수 1
[2016] 반입량 NaN 3221→3218 (채움 3),  금액 NaN 3221→3218 (채움 3),  보강 행수 3
[2015] 반입량 NaN 1677→1677 (채움 0),  금액 NaN 1677→1677 (채움 0),  보강 행수 0
[저장 완료]
 - ..\data\전처리데이터\potato_filled.csv
 - ..\data\전처리데이터\potato_filled_stats.csv
 - ..\data\전처리데이터\potato_filled_filllog.csv
 - ..\data\전처리데이터\potato_filled_weekly_item.csv
 - ..\data\전처리데이터\potato_filled_weekly_all.csv

   year  filled_rows  qty_before  qty_after  amt_before  amt_after
0  2024            0        2719       2719        2719       2719
1  2023            1        2611       2611        2611       2610
2  2022            0        2689       2689        2689       2689
3  2021            1        2760       2760        2760       2759
4  2020            2        3029       3029        3029       3027

      연도       거래일자 품목명   필드  채우기_이전값      채우기_이후값     공여자_전년도값 공여자_다음해_원래거래일자
0   2023 2023-01-14  대지   금액      NaN    -592000.0    -592000.0     2024-01-14
1   2021 2021-02-11  수미   금액      NaN     -40000.0     -40000.0     2022-02-11
2   2020 2020-08-24  기타   금액      NaN    -136500.0    -136500.0     2021-08-24
3   2020 2020-03-11  대지   금액      NaN    -490000.0    -490000.0     2021-03-11
4   2019 2019-12-16  대지   금액      NaN    -155000.0    -155000.0     2020-12-16
5   2018 2018-04-28  대지   금액      NaN     -92000.0     -92000.0     2019-04-28
6   2017 2017-05-25  대지   금액      NaN    -118500.0    -118500.0     2018-05-25
7   2016 2016-02-28  기타  반입량      NaN      40610.0      40610.0     2017-02-28
8   2016 2016-02-28  대지  반입량      NaN     164438.0     164438.0     2017-02-28
9   2016 2016-02-28  수미  반입량      NaN     173520.0     173520.0     2017-02-28
10  2016 2016-02-28  기타   금액      NaN   57882000.0   57882000.0     2017-02-28
11  2016 2016-02-28  대지   금액      NaN  265221500.0  265221500.0     2017-02-28
12  2016 2016-02-28  수미   금액      NaN  220652000.0  220652000.0     2017-02-28

      품목명    연도  주차  주차_일수      주간_평균단가        금액_합    반입량_합
0  감자(수입)  2016   9      1  1313.500000  13135000.0  10000.0
1  감자(수입)  2016  10      1  1295.000000  12950000.0  10000.0
2  감자(수입)  2016  11      1   990.000000   9900000.0  10000.0
3  감자(수입)  2016  12      2   939.198113  19356000.0  20600.0
4  감자(수입)  2016  13      4   936.201020  30052000.0  30800.0

     연도  주차  주차_일수     주간_평균단가          금액_합      반입량_합
0  2015  27      5  756.448302  1.731275e+09  2280117.0
1  2015  28      6  848.916644  1.751674e+09  2074224.0
2  2015  29      6  846.124751  1.296425e+09  1531625.0
3  2015  30      6  873.962968  1.439057e+09  1641465.0
4  2015  31      6  892.916019  1.197561e+09  1342185.0

In [17]:
test = pd.read_csv('../data/전처리데이터/potato_filled_weekly_item.csv')
test[test['품목명']=='수미']

     품목명    연도  주차  주차_일수      주간_평균단가      일별단가_평균          금액_합      반입량_합
1280  수미  2015  27      5   750.066841   750.066841  1.608976e+09  2132969.0
1281  수미  2015  28      6   849.298310   849.298310  1.588329e+09  1880199.0
1282  수미  2015  29      6   849.919122   849.919122  1.201872e+09  1411665.0
1283  수미  2015  30      6   869.357803   869.357803  1.340159e+09  1537356.0
1284  수미  2015  31      6   895.237946   895.237946  1.109608e+09  1247207.0
...   ..   ...  ..    ...          ...          ...           ...        ...
1798  수미  2025  23      6  1309.562632  1309.562632  2.423299e+09  1897918.0
1799  수미  2025  24      6  1045.136702  1045.136702  2.097496e+09  2050022.0
1800  수미  2025  25      6  1417.806468  1417.806468  2.191902e+09  1550722.0
1801  수미  2025  26      6  1135.717153  1135.717153  1.693074e+09  1480916.0
1802  수미  2025  27      1   873.011946   873.011946  2.752240e+08   315258.0

[523 rows x 8 columns]